body{
    background: url("https://i.elmaelma.com/2/750/430/storage/files/images/2018/03/07/1520409129-WTxT_cover.jpg");
    background-size: 100%;
}

.single-recipe-div {
    background:rgba(255, 255, 255, 0.831);
    padding:20px;
    margin-bottom:10px;
    box-shadow:0px 0px 5px black;
}
.buttons {
    background:rgba(0, 0, 0, 0.653);
    padding:20px;
    margin-bottom:10px;
}
.added-to-favorites, .added-to-favorites-favorite-recipes{
    background:black;
    color:red;
    cursor:pointer;
}
.add-to-favorites{
    background:black;
    color:rgba(255, 255, 255, 0.646);
    cursor:pointer;
}
.add-a-note {
    background:black;
    color:cyan;
    cursor:pointer;
}
#notes {
    float: right;
    width: 30%;
}
textarea {
display: block;
width: 100%;
background-color: rgb(255, 255, 255);
height: 200px;
font-size: 18px;
}
.buttons > button{
    background:black;
    color:white;
    box-shadow:0px 0px 20px white;
    border-radius:20px;
    height:40px;
    padding-left:15px;
    padding-right:15px;
    cursor:pointer;
}

img {
    box-shadow:0px 0px 5px black;
}

.single-recipe-link {
    font-size:25px;
}

.row {
    padding-bottom:10px;
}
.single-recipe-rating, .single-recipe-makeagain {
    font-style: italic;
}
